<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Express Guestbook</title>
<link rel="stylesheet" href="../css/bootstrap.css">
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/bootstrap-responsive.css">
<link rel="stylesheet" href="../css/bootstrap-responsive.min.css">

</head>

<body class="container">
	<h1>
		Express Guestbook
		<a href="/new-entry" class="btn btn-primary pull-right">
			Write in the Guestbook
		</a>
	</h1>
